<div class="chat">
  <div class="chat-header">
    <nz-avatar
      class="chat-header-photo"
      nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      [nzSize]="64"
    ></nz-avatar>
    <h5 class="chat-header-dialogue-name">Victor Naumov</h5>
  </div>
  <cdk-virtual-scroll-viewport itemSize="100" class="chat-list">
    <nz-list nzItemLayout="horizontal">
      <nz-list-item
        *cdkVirtualFor="let messenge of messenges"
        class="list-item"
        [class.list-item-owner]="messenge.ProfileId == curUserId"
      >
        <div class="list-item-wrapper">
          <p class="list-item-message">{{ messenge.Text }}</p>
          <p class="list-item-date">
            {{ messenge.SendDate | date: "hh:mm √" }}
          </p>
        </div>
      </nz-list-item>
      <nz-list-empty *ngIf="messenges.length === 0"></nz-list-empty>
    </nz-list>
  </cdk-virtual-scroll-viewport>
  <div class="chat-footer">
    <div class="chat-footer-textarea">
      <app-textarea-control [placeholder]="'Write message. . .'">
      </app-textarea-control>
    </div>
  </div>
</div>
