.dialogues {
  height: 100%;

  .dialogue-list {
    height: calc(100% - 40px);
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;

    .list-item-wrapper {
      :hover {
        cursor: pointer;
        background-color: var(--lightGrayColor);
      }
      .list-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;

        .list-item-wrapper-metadata {
          display: flex;

          .list-item-wrapper-text {
            .list-item-title {
              font-weight: bold;
            }

            .list-item-message {
              margin-top: -15px;
            }
          }
        }
        .list-item-wrapper-date {
          justify-content: flex-end;
        }
      }
    }
  }
}
