<div class="dialogues">
  <div class="filter-panel">
    <app-input [placeholder]="'Search'"></app-input>
  </div>
  <cdk-virtual-scroll-viewport itemSize="30" class="dialogue-list">
    <nz-list nzItemLayout="horizontal">
      <nz-list-item
        *cdkVirtualFor="let dialogue of dialogues; let odd = odd"
        class="list-item"
        [class.list-item-odd]="odd"
      >
        <nz-list-item-meta-title>
          <a href="https://ng.ant.design">{{ dialogue.FirstMemberName }}</a>
        </nz-list-item-meta-title>
        <nz-list-item-meta
          nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          nzDescription="{{ dialogue.LastMessage.Text }}"
        >
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-empty *ngIf="dialogues.length === 0"></nz-list-empty>
    </nz-list>
  </cdk-virtual-scroll-viewport>
</div>
