:root {
  --lightGrayColor: #F0F0F0;
  --grayColor: #F8F8F8;
  --whiteColor: #fff;
  --darkBlueColor: #001529;
  --darkColor: #000;
  --alertColor: #ff0000;
  --lightBlue: #1890ff;
}

.card {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 40%;
  padding: 20px;
  width: 20%;
    min-width: 300px;
    .card__input {
    display: block;
    width: 100%;
    height: 25px;
    margin: 10px auto;
    padding: 2px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid var(--greyColor);
    outline: none;
    box-sizing: border-box;
  }
  .remember {
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
    }
    a {
      cursor: pointer;
    }
  }
  .btn {
    margin-top: 15px;
    width: 100%;
    height: 30px;
  }
  .invalid {
    input {
      border: 1px solid var(--alertColor);
    }
  }

  .logo {
    display: block;
    width: 120px;
    height: 100px;
    margin: 0 auto;
  }
  .label-black {
    color: var(--darkColor);
  }
}
