<div class="form">
  <div class="label-control">
    <label for="control">{{label}}</label>
    <span class="alert" *ngIf="valueControl.errors?.required">*</span>
  </div>
  <input
    [formControl]="valueControl"
    class="form-control"
    [ngClass]="{
      'is-invalid': (valueControl.touched && valueControl.invalid),
      'is-valid': (valueControl.touched && valueControl.valid)
    }"
    id="control"
    [type]="(label == 'password'|| label == 'confirm password') ? 'password' :
        label == 'email' ? 'email' :
        'text'"
    #valueController
    (change)="read(valueController.value)"
  />
  <div *ngIf="valueControl.touched && valueControl.invalid" class="validation">
    <small
      class="form-text"
      *ngIf="valueControl.errors?.email && label === 'email'"
    >
      Incorrect email!
    </small>
    <small class="form-text text-muted" *ngIf="valueControl.errors?.pattern">
      Must contain only Latin characters!
    </small>
    <small
      class="form-text text-muted"
      *ngIf="valueControl.errors?.minlength && (label == 'password'|| label == 'confirm password')"
    >
      The password at least 8 characters!
    </small>
  </div>

  <small class="form-text text-muted" *ngIf="label === 'email'">
    We'll never share your email with anyone else.
  </small>
</div>
